<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout/admin-layout :: layout (~{::div})}">

<div class="bg-white p-6 rounded-xl shadow-md">
    <div class="flex justify-between">
        <h2 class="text-2xl font-bold text-sky-700">도서 수정</h2>
        <div class="flex space-x-2">
            <button data-modal-target="default-modal" data-modal-toggle="default-modal"
                    class="block text-sky-700 bg-sky-100 hover:bg-sky-300 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-full text-sm px-5 py-2.5 text-center"
                    th:onclick="|window.location.href='@{/admin/books/new}'|"
                    type="button">
                일반 도서 추가
            </button>
            <a href="/admin/books/aladin"
               class="block text-sky-700 bg-sky-100 hover:bg-sky-300 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-full text-sm px-5 py-2.5 text-center"
               type="button">
                알라딘 도서 추가
            </a>
        </div>
    </div>

    <form th:action="@{/admin/books/update/{bookId}(bookId=${book.bookId})}"
          method="post" enctype="multipart/form-data" class="space-y-6" onsubmit="handleSubmit(event)">
        <input type="hidden" name="_method" value="put" />
        <div>
            <label class="block mb-1 text-sm font-medium text-gray-700">책 제목</label>
            <input type="text" name="title" required
                   class="w-full p-2 border border-gray-300 rounded-lg text-sm text-gray-900"
                   th:value="${book.title}" />
        </div>

        <div>
            <label class="block mb-1 text-sm font-medium text-gray-700">책 목차</label>
            <div id="editor-contents"></div>
        </div>

        <div>
            <label class="block mb-1 text-sm font-medium text-gray-700">책 설명</label>
            <div id="editor-description"></div>
        </div>

        <div class="grid grid-cols-2 gap-4">
            <div>
                <label class="block mb-1 text-sm font-medium text-gray-700">카테고리(,로 구분해주세요)</label>
                <input type="text" name="category" required
                       class="w-full p-2 border border-gray-300 rounded-lg text-sm text-gray-900" />
            </div>
            <div>
                <label class="block mb-1 text-sm font-medium text-gray-700">작가(,로 구분해주세요)</label>
                <input type="text" name="author" required
                       class="w-full p-2 border border-gray-300 rounded-lg text-sm text-gray-900"
                       th:value="${authorName}" />
            </div>
        </div>

        <div class="grid grid-cols-2 gap-4">
            <div>
                <label class="block mb-1 text-sm font-medium text-gray-700">출판사(,로 구분해주세요)</label>
                <input type="text" name="publisher" required
                       class="w-full p-2 border border-gray-300 rounded-lg text-sm text-gray-900"
                       th:value="${publisherName}" />
            </div>
            <div>
                <label class="block mb-1 text-sm font-medium text-gray-700">출판일시</label>
                <input type="date" name="publicationDate" required
                       class="w-full p-2 border border-gray-300 rounded-lg text-sm text-gray-900"
                       th:value="${book.publicationDate}" />
            </div>
        </div>

        <div>
            <label class="block mb-1 text-sm font-medium text-gray-700">ISBN</label>
            <input type="text" name="isbn" required
                   class="w-full p-2 border border-gray-300 rounded-lg text-sm text-gray-900"
                   th:value="${book.isbn}" />
        </div>

        <div class="grid grid-cols-3 gap-4">
            <div>
                <label class="block mb-1 text-sm font-medium text-gray-700">정가</label>
                <input type="number" name="originPrice" required
                       class="w-full p-2 border border-gray-300 rounded-lg text-sm text-gray-900"
                       th:value="${book.originPrice}" />
            </div>
            <div>
                <label class="block mb-1 text-sm font-medium text-gray-700">할인가 (선택)</label>
                <input type="number" name="salesPrice"
                       class="w-full p-2 border border-gray-300 rounded-lg text-sm text-gray-900"
                       th:value="${book.salesPrice}" />
            </div>
            <div>
                <label class="block mb-1 text-sm font-medium text-gray-700">재고 수량</label>
                <input type="number" name="stock" required
                       class="w-full p-2 border border-gray-300 rounded-lg text-sm text-gray-900"
                       th:value="${book.stock}" />
            </div>
        </div>

        <div class="grid grid-cols-2 gap-4">
            <div>
                <label class="block mb-1 text-sm font-medium text-gray-700">상태</label>
                <select name="status" required
                        class="w-full p-2 border border-gray-300 rounded-lg text-sm text-gray-900">
                    <option value="true" th:selected="${book.status} == true">판매중</option>
                    <option value="false" th:selected="${book.status} == false">판매중지</option>
                </select>
            </div>
            <div>
                <label class="block mb-1 text-sm font-medium text-gray-700">태그 (,로 구분)</label>
                <input type="text" name="bookTags"
                       class="w-full p-2 border border-gray-300 rounded-lg text-sm text-gray-900"
                       th:value="${tagName}" />
            </div>
        </div>

        <div id="removed-images-container"></div>
        <div id="original-images-container"></div>

        <div class="flex justify-end gap-2">
            <label class="relative cursor-pointer px-5 py-2.5 bg-sky-100 text-sky-700 text-sm rounded-lg hover:bg-sky-300">
                이미지 추가
                <input id="imageInput" type="file" name="bookImages" accept="image/*" multiple class="hidden" />
            </label>


            <button type="submit"
                    class="text-sky-700 bg-sky-100 hover:bg-sky-300 font-medium rounded-lg text-sm px-5 py-2.5">
                저장
            </button>
            <button type="reset"
                    class="px-5 py-2.5 text-sm font-medium text-gray-600 bg-white border border-gray-200 rounded-lg hover:bg-gray-100">
                취소
            </button>
        </div>
    </form>

    <div id="preview" class="grid grid-cols-4 gap-2 mt-4"></div>

    <script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>

    <script th:inline="javascript">
        let initialChapter = /*[[${book.bookChapter}]]*/ "";
        if (initialChapter == null) {
            initialChapter = "설명을 입력해주세요"
        }
        let initialDescription = /*[[${book.description}]]*/ "";
        if (initialDescription == null){
            initialDescription = "설명을 입력해주세요"
        }
        let existingImages = /*[[${book.imageUrls}]]*/ [];
    </script>

    <script>
        // toast ui 로직
        const editorContents = new toastui.Editor({
            el: document.querySelector('#editor-contents'),
            height: '300px',
            initialEditType: 'markdown',
            initialValue: initialChapter,
            previewStyle: 'vertical'
        });

        const editorDescription = new toastui.Editor({
            el: document.querySelector('#editor-description'),
            height: '300px',
            initialEditType: 'markdown',
            initialValue: initialDescription,
            previewStyle: 'vertical'
        });

        function handleSubmit(e) {
            e.preventDefault();

            const form = e.target;

            const contentsValue = editorContents.getMarkdown();
            const descriptionValue = editorDescription.getMarkdown();

            const input1 = document.createElement('input');
            input1.type = 'hidden';
            input1.name = 'bookChapter';
            input1.value = contentsValue;

            const input2 = document.createElement('input');
            input2.type = 'hidden';
            input2.name = 'description';
            input2.value = descriptionValue;

            form.appendChild(input1);
            form.appendChild(input2);

            form.submit();
        }

        const imageInput = document.getElementById('imageInput');
        const previewContainer = document.getElementById('preview');
        let selectedFiles = [];
        let removedImages = [];
        let originalImageUrls = [];

        // 이미지 렌더링
        window.addEventListener('DOMContentLoaded', () => {
            existingImages.forEach(url => {
                const wrapper = document.createElement('div');
                wrapper.className = "relative group";

                const img = document.createElement('img');
                img.src = url;
                img.className = "w-full h-32 object-cover rounded border border-gray-300";
                originalImageUrls.push(url);

                const fileName = document.createElement('p');
                fileName.textContent = url.split('/').pop();
                fileName.className = "text-sm mt-1 text-center truncate";

                const deleteBtn = document.createElement('button');
                deleteBtn.innerHTML = '✕';
                deleteBtn.className = "absolute top-1 right-1 bg-white text-red-500 rounded-full text-xs px-2 py-0.5 shadow";
                deleteBtn.onclick = function () {
                    removedImages.push(url);
                    updateRemoveImageInputs()
                    wrapper.remove();
                };

                wrapper.appendChild(img);
                wrapper.appendChild(deleteBtn);
                wrapper.appendChild(fileName);
                previewContainer.appendChild(wrapper);
            });
            updateOriginalImageInputs();
        });

        // 원래의 이미지 목록을 넣어 보내기위한 로직
        function updateOriginalImageInputs() {
            const container = document.getElementById('original-images-container');
            container.innerHTML = '';
            originalImageUrls.forEach(url => {
                const input = document.createElement('input');
                input.type = 'hidden';
                input.name = 'originalImageUrls';
                input.value = url;
                container.appendChild(input);
            });
        }

        // 기존에 렌더링한 사진을 삭제하면 인풋에 추가하는 로직
        function updateRemoveImageInputs() {
            const container = document.getElementById('removed-images-container');
            container.innerHTML = '';
            removedImages.forEach(url => {
                const input = document.createElement('input');
                input.type = 'hidden';
                input.name = 'removeImages';
                input.value = url;
                container.appendChild(input);
            });
        }

        //이미지 추가 로직
        imageInput.addEventListener('change', function () {
            const files = Array.from(imageInput.files);

            files.forEach(file => {
                if (!file.type.startsWith('image/')) return;

                const id = Date.now() + Math.random();
                selectedFiles.push({ id, file });

                const reader = new FileReader();
                reader.onload = function (e) {
                    const wrapper = document.createElement('div');
                    wrapper.className = "relative group";

                    const img = document.createElement('img');
                    img.src = e.target.result;
                    img.className = "w-full h-32 object-cover rounded border border-gray-300";

                    const fileName = document.createElement('p');
                    fileName.textContent = file.name;
                    fileName.className = "text-sm mt-1 text-center truncate";

                    const deleteBtn = document.createElement('button');
                    deleteBtn.innerHTML = '✕';
                    deleteBtn.className = "absolute top-1 right-1 bg-white text-red-500 rounded-full text-xs px-2 py-0.5 shadow";
                    deleteBtn.onclick = function () {
                        selectedFiles = selectedFiles.filter(f => f.id !== id);
                        wrapper.remove();
                        refreshFileInput();
                    };

                    wrapper.appendChild(img);
                    wrapper.appendChild(deleteBtn);
                    wrapper.appendChild(fileName);
                    previewContainer.appendChild(wrapper);
                };
                reader.readAsDataURL(file);
            });

            refreshFileInput();
        });

        // 추가한 사진 input 창에 추가하는 로직
        function refreshFileInput() {
            const dataTransfer = new DataTransfer();
            selectedFiles.forEach(f => dataTransfer.items.add(f.file));
            imageInput.files = dataTransfer.files;
        }

    </script>
</div>
</html>
