<div th:fragment="mainHeader" class="main-header">
  <img th:src="@{/static_images/mainlogo.png}" class="main-logo" alt="WannaB Logo" th:onclick="|window.location.href='@{/}'|"/>
  <div class="main-icons">
    <span th:onclick="|window.location.href='@{/user/main-cart}'|">🛒</span>
    <span th:if="${isLoggedIn}">
  <span th:onclick="|window.location.href='@{/user/mypage}'|">👤</span>
  <span th:onclick="|window.location.href='@{/auth/logout}'|">🔒 로그아웃</span>
</span>

    <!-- 비로그인 상태 -->
    <span th:if="${!isLoggedIn}">
  <span th:onclick="|window.location.href='@{/guest/main-non-member-order-form}'|">📋</span>
  <span th:onclick="|window.location.href='@{/auth/login-form}'|">🔓 로그인</span>
</span>
  </div>
</div>