<div th:fragment="mainHeader" class="main-header">
  <img th:src="@{/static_images/mainlogo.png}" class="main-logo" alt="WannaB Logo" th:onclick="|window.location.href='@{/}'|"/>
  <div class="main-icons">
    <ul class="main-menu">
      <li th:if="${role!=null}">
        <span th:if="${role == 'ADMIN'}" th:onclick="|window.location.href='@{/admin/books}'|">🛠️ AdminPage</span>
      </li>
      <li th:if="${isLoggedIn}">
        <span th:onclick="|window.location.href='@{/user/mypage}'|">👤 MyPage</span>
      </li>
      <li th:unless="${isLoggedIn}">
        <span th:onclick="|window.location.href='@{/guest/main-non-member-order-form}'|">📋 Order</span>
      </li>
      <li><span th:onclick="|window.location.href='@{/user/main-cart}'|">🛒 Cart</span></li>
      <li th:if="${isLoggedIn}">
        <span th:onclick="|window.location.href='@{/auth/logout}'|">🔓 Logout</span>
      </li>
      <li th:unless="${isLoggedIn}">
        <span th:onclick="|window.location.href='@{/auth/login-form}'|">🔓 Login</span>
      </li>
    </ul>
  </div>
</div>

