<div th:fragment="mainHeader" class="main-header">
  <img th:src="@{/static_images/mainlogo.png}" class="main-logo" alt="WannaB Logo" th:onclick="|window.location.href='@{/user/main}'|"/>
  <div class="main-icons">
    <span th:onclick="|window.location.href='@{/user/main-cart}'|">🛒</span>
    <!--회원 비회원 분기처리 필요-->
    <span th:onclick="|window.location.href='@{/user/mypage}'|">👤</span>
    <span th:onclick="|window.location.href='@{/user/main-non-member-order}'|">📋</span>

    <span th:onclick="|window.location.href='@{/auth/logout}'|">🔓</span>
  </div>
</div>