<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      th:fragment="layout(head, content,extraHead)">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title th:text="${head}">Default Title</title>
  <link rel="stylesheet" th:href="@{/css/components/components.css}" />

  <th:block th:replace="${extraHead}"></th:block>

</head>

<body>
  <div class="main-background"></div>
  <div class="main-wrapper">
    <!-- 헤더 -->
    <header th:replace="~{components/header :: mainHeader}"></header>

    <!-- 메인 섹션 -->
    <div th:replace="${content}">기본 콘텐츠</div>

    <!-- 푸터 -->
    <footer th:replace="~{components/footer :: mainFooter}"></footer>
  </div>
</body>

</html>
