
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout/user-layout :: layout (
      '책 페이지',
      ~{::body},
      ~{::head}
    )}">


<head>
  <title>검색 페이지</title>
  <link rel="stylesheet" th:href="@{/css/user/main-book-detail.css}" />
</head>

<body>
  <div th:replace="~{components/search :: searchBox}"></div>

  <!-- 도서 상세 -->
  <div class="book-detail-wrapper">
    <section class="book-detail">
      <div class="book-detail-layout">
        <div class="book-image">
          <img th:src="@{/static_images/testbook.png}" alt="book" />
          <p class="book-toc">목차<br />
            프로로그, 함께 걷고 싶은 다정한 세계<br />
            첫 번째 낙원. 나를 안아주는 곳<br />
            ...<br />
            삶 하나</p>
        </div>
        <div class="book-info">
          <div class="book-title-line">
            <h2 class="book-title">우리의 낙원에서 만나자</h2>

            <!-- like와 unlike if문으로 바꿔주기 -->
            <div class="book-like-wrapper">
              <span class="book-like">❤</span>
            </div>
            <!-- <div class="book-like-wrapper">
              <span class="book-unlike">❤</span>
            </div> -->
          </div>

          <p class="book-meta">하태완 지 | 북로망스<br />2023년 05월 11일<br />⭐ 4.0 리뷰 17건</p>
          <p class="book-price"><strong>17,550원</strong> <span class="book-sub">선물포장 가능</span></p>

          <div class="book-actions">
            <button class="btn-cart">장바구니</button>
            <button class="btn-buy">바로 구매</button>
          </div>

          <div class="book-desc">
            <h3>책소개</h3>
            <hr />
            <p>2년 만에 돌아온 작가 하태완, 다정한 언어로 다시 시대를 위로하다...</p>
          </div>
        </div>
      </div>
    </section>

    <!-- 도서 리뷰 -->
    <section class="book-review">
      <h3>도서 리뷰 (1)</h3>
      <!-- for문으로 요소 더 렌더링하기 -->
      <div class="review-box">
        <img th:src="@{/static_images/testbook.png}" alt="review" />
        <div class="review-content">
          <div class="review-meta">
            <span class="review-writer">홍길동</span>
            <span class="review-date">2025-06-10</span>
            <span class="review-rating">⭐ 4.5</span>
          </div>
          <p class="review-text">책이 너무 좋아요. 마음에 와닿았어요!</p>
        </div>
      </div>
    </section>
  </div>

</body>

</html>


