<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout/user-layout :: layout (
      '메인 페이지',
      ~{::body},
      ~{::head}
    )}">

<head>
  <title>메인 페이지</title>
  <link rel="stylesheet" th:href="@{/css/user/main.css}" />
</head>

<body>
  <div th:replace="~{components/search :: searchBox}"></div>

  <!-- 추천 책 영역 -->
  <div class="featured-background"></div>
  <section class="featured-books">
    <div class="featured-wrapper">
      <img th:src="@{/static_images/testbook.png}" class="featured-book left-top" />
      <img th:src="@{/static_images/testbook.png}" class="featured-book left-middle" />
      <img th:src="@{/static_images/testbook.png}" class="featured-book left-bottom" />
      <img th:src="@{/static_images/testbook.png}" class="featured-book center" />
      <img th:src="@{/static_images/testbook.png}" class="featured-book right-top" />
      <img th:src="@{/static_images/testbook.png}" class="featured-book right-middle" />
      <img th:src="@{/static_images/testbook.png}" class="featured-book right-bottom" />
    </div>
  </section>

  <!-- 카테고리 섹션 -->
  <div class="main-section-wrapper">
    <section class="main-section">
      <h2>Book Category</h2>
      <div class="main-category-row">
        <!-- for문 -->
        <div class="main-category-card" th:onclick="|window.location.href='@{/user/main-search}'|">
          <div class="main-category-frame">
            <div class="main-category-bg"></div>
            <img th:src="@{/static_images/testbook.png}" alt="book" class="main-category-img" />
          </div>
          <p>Self Improvement</p>
        </div>
      </div>
    </section>



    <!-- 신간 도서 -->
    <section class="main-section">
      <h2>Newly Released Books</h2>
      <div class="main-book-row">

        <!-- for문 -->
        <div class="main-book-card"
             th:each="book: ${books}"
             th:onclick="|window.location.href='@{/main-book-detail/{bookId}(bookId=${book.bookId})}'|">

          <img th:src="${#lists.isEmpty(book.imageUrls) ? '/static_images/testbook.png' : book.imageUrls[0]}" alt="책 이미지" />

          <div class="main-rating">⭐ 4.0</div>
          <p class="main-book-title" th:text="${book.title}"></p>

          <!-- salesPrice의 유무에 따라 분기처리-->
          <p class="main-book-price"
             th:unless="${book.salesPrice != 0}"
             th:text="${#numbers.formatInteger(book.originPrice, 0, 'COMMA') + '원'}">17,550원
          </p>

          <div class="main-price-box" th:if="${book.salesPrice != 0}">
            <span class="main-price-sale"
                  th:text="${#numbers.formatInteger(book.salesPrice, 0, 'COMMA') + '원'}">16,000원</span>
            <span class="main-price-original"
                  th:text="${#numbers.formatInteger(book.originPrice, 0, 'COMMA') + '원'}">17,550원</span>
            <span th:if="${book.originPrice != null and book.originPrice > 0 and book.salesPrice != null}"
                  th:text="|(${T(java.lang.Math).round((1.0 - book.salesPrice * 1.0 / book.originPrice) * 100)}%)|">
            </span>
          </div>
        </div>

      </div>
    </section>

    <!-- 인기 도서 -->
    <section class="main-section">
      <h2>Trending on Book</h2>
      <div class="main-book-row">

        <!-- for문 -->
        <div class="main-book-card"
             th:each="book:${books}"
             th:onclick="|window.location.href='@{/main-book-detail/{id}(id=${book.bookId})}'|">
          <img th:src="${#lists.isEmpty(book.imageUrls) ? '/static_images/testbook.png' : book.imageUrls[0]}" alt="책 이미지" />

          <div class="main-rating">⭐ 4.0</div>
          <p class="main-book-title" th:text="${book.title}"></p>

          <!-- salesPrice의 유무에 따라 분기처리-->
          <p class="main-book-price"
             th:unless="${book.salesPrice != 0}"
             th:text="${#numbers.formatInteger(book.originPrice, 0, 'COMMA') + '원'}">17,550원
          </p>

          <div class="main-price-box" th:if="${book.salesPrice != 0}">
            <span class="main-price-sale"
                  th:text="${#numbers.formatInteger(book.salesPrice, 0, 'COMMA') + '원'}">16,000원</span>
            <span class="main-price-original"
                  th:text="${#numbers.formatInteger(book.originPrice, 0, 'COMMA') + '원'}">17,550원</span>
            <span th:if="${book.originPrice != null and book.originPrice > 0 and book.salesPrice != null}"
                  th:text="|(${T(java.lang.Math).round((1.0 - book.salesPrice * 1.0 / book.originPrice) * 100)}%)|">
            </span>
          </div>
        </div>
      </div>
    </section>
  </div>

</body>

</html>



