<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout/user-layout :: layout (
      '검색 페이지',
      ~{::body},
      ~{::head},
      true
    )}">

<head>
  <title>검색 페이지</title>
  <link rel="stylesheet" th:href="@{/css/user/main-search-2.css}" />
</head>

<body>
  <div th:replace="~{components/search :: searchBox}"></div>
  <div class="featured-background"></div>

  <!-- 검색 결과 -->
    <section class="search-section">
      <div class="search-header">
        <h1 th:text="${categoryName}"></h1>

        <!-- 정렬 영역 추가필요  -->
        <form action="/books/search" method="get">
          <input type="hidden" name="categoryId" th:value="${categoryId}" />
          <input type="hidden" name="categoryName" th:value="${categoryName}" />

          <select name="sort" class="search-sort" onchange="this.form.submit()">
            <option disabled th:text="${sortName}" selected></option>

            <option value="title,asc">이름 오름차순</option>
            <option value="title,desc">이름 내림차순</option>
            <option value="originPrice,asc">가격 오름차순</option>
            <option value="originPrice,desc">가격 내림차순</option>
            <option value="publicationDate,desc">최신순</option>
            <option value="publicationDate,asc">오래된순</option>
          </select>
        </form>
      </div>

      <div class="main-page">
        <section>
          <div th:each="book: ${books}"
               th:onclick="|window.location.href='@{/main-book-detail/{bookId}(bookId=${book.bookId})}'|">
            <article>
              <figure>
                <img th:src="${#lists.isEmpty(book.imageUrls) ? '/static_images/testbook.png' : book.imageUrls[0]}" alt="책 이미지">
                <figcaption th:text="${book.title}"></figcaption>
                <div class="overlay">
                  <p th:text="${book.description}"></p>
                </div>
              </figure>
            </article>
          </div>
        </section>
      </div>

      <!-- 페이지네이션 -->
      <nav aria-label="Page navigation">
        <th:block th:if="${totalPages != null}">
          <ul class="pagination" th:if="${totalPages > 0}">

            <!-- 이전 페이지 -->
            <li>
              <span th:if="${currentPage == 0}" class="disabled">&laquo;</span>
              <a th:if="${currentPage > 0}"
                 th:href="@{/books/search(page=${prevPage}, size=${size}, sort=${sort},categoryId=${categoryId},categoryName=${categoryName})}">
                &laquo;
              </a>
            </li>

            <!-- 페이지 번호 -->
            <li th:each="pageNum : ${#numbers.sequence(startPage, endPage)}">
              <a th:href="@{/books/search(page=${pageNum}, size=${size}, sort=${sort},categoryId=${categoryId},categoryName=${categoryName})}"
                 th:text="${pageNum + 1}"
                 th:classappend="${pageNum == currentPage} ? 'active' : ''">
              </a>
            </li>

            <!-- 다음 페이지 -->
            <li th:if="${currentPage < totalPages - 1}">
              <a th:href="@{/books/search(page=${nextPage}, size=${size}, sort=${sort},categoryId=${categoryId},categoryName=${categoryName})}">
                &raquo;
              </a>
            </li>
            <li th:unless="${currentPage < totalPages - 1}">
              <span class="disabled">&raquo;</span>
            </li>

          </ul>
        </th:block>
      </nav>


    </section>
</body>

</html>