
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout/user-layout :: layout (
      '책 페이지',
      ~{::body},
      ~{::head},
      true
    )}">


<head>
  <title>검색 페이지</title>
  <link rel="stylesheet" th:href="@{/css/user/main-book-detail.css}" />
</head>

<body>
  <div th:replace="~{components/search :: searchBox}"></div>
  <div class="featured-background"></div>

  <!-- 도서 상세 -->
  <div class="book-detail-wrapper">
    <section class="book-detail">
      <div class="book-detail-layout">
        <div class="book-image">
          <img th:src="${#lists.isEmpty(book.imageUrls) ? '/static_images/testbook.png' : book.imageUrls[0]}" alt="book" />
          <h3 class="book-toc">목차</h3>
          <p th:text="${book.bookChapter}"></p>
        </div>
        <div class="book-info">
          <div class="book-title-line">
            <h2 class="book-title" th:text="${book.title}"></h2>

            <div th:if="${bookLiked != null}">
              <form th:action="@{/main-book-detail/{bookId}/unlike(bookId=${bookId})}" method="post" th:if="${bookLiked}">
                <input type="hidden" name="_method" value="delete"/>
                <button class="book-like-wrapper" >
                  <span class="book-like">❤</span>
                </button>
              </form>

              <form th:action="@{/main-book-detail/{bookId}/like(bookId=${bookId})}" method="post" th:if="${!bookLiked}">
                <button class="book-like-wrapper" >
                  <span class="book-unlike">❤</span>
                </button>
              </form>

            </div>

          </div>
          <p class="book-meta">
            <span class="book-meta-label">작가</span>
            <span th:text="${authorName}"></span>
          </p>
          <p class="book-meta">
            <span class="book-meta-label">출판사</span>
            <span th:text="${joinedPublishers}"></span>
          </p>
          <p class="book-meta">
            <span class="book-meta-label">카테고리</span>
            <span th:text="${book.categories}"></span>
          </p>
          <p class="book-meta">
            <span class="book-meta-label">출판일</span>
            <span th:text="${#temporals.format(book.publicationDate, 'yyyy년 MM월 dd일')}"></span>
          </p>
          <p class="book-meta-review">
            <span class="star">⭐</span>
            <span class="score" th:text="${bookReviewAverage}">0.0</span>
            <span class="count" th:text="|리뷰 ${bookReviewCount}건|">리뷰 0건</span>
          </p>
          <div class="coupon-section" th:if="${not #lists.isEmpty(coupons)}">
            <div th:each="coupon : ${coupons}">

              <form th:action="@{/main-book-detail/{bookId}(bookId=${book.bookId})}" method="post" class="coupon-form">

                <input type="hidden" name="couponPolicyId" th:value="${coupon.couponPolicyId}" />

                <button type="submit" class="coupon-btn">
                  <svg class="icon" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M9.568 3H5.25A2.25 2.25 0 0 0 3 5.25v4.318c0 .597.237 1.17.659 1.591l9.581 9.581a.67.67 0 0 0 .949 0l4.318-4.318a.67.67 0 0 0 0-.949l-9.58-9.581a2.25 2.25 0 0 0-1.591-.659Z" />
                    <path stroke-linecap="round" stroke-linejoin="round" d="M9 7.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0Z" />
                  </svg>
                  <span th:text="|${coupon.name} 받기|"></span>
                </button>
              </form>

            </div>
          </div>

          <div class="book-price-line" th:unless="${book.salesPrice != 0 and book.originPrice!=book.salesPrice}">
            <span class="book-price"
                  th:text="${#numbers.formatInteger(book.originPrice, 0, 'COMMA') + '원'}">17,550원</span>
             <span class="book-sub">재고:<span th:text="${book.stock}">0</span>개</span>
          </div>

          <div class="book-price-line" th:if="${book.salesPrice != 0 and book.originPrice!=book.salesPrice}">
            <span class="book-price"
                  th:text="${#numbers.formatInteger(book.salesPrice, 0, 'COMMA') + '원'}">16,000원</span>
            <span class="book-price-original"
                  th:text="${#numbers.formatInteger(book.originPrice, 0, 'COMMA') + '원'}">17,550원</span>
            <span th:if="${book.originPrice != null and book.originPrice > 0 and book.salesPrice != 0}"
                  th:text="|(${T(java.lang.Math).round((1.0 - book.salesPrice * 1.0 / book.originPrice) * 100)}%)|">
            </span>
            <span class="book-sub">재고:<span th:text="${book.stock}">0</span>개</span>
          </div>

          <div class="book-actions">
            <form th:action="@{/user/main-cart/books}" method="post">
              <input type="hidden" name="bookId" th:value="${book.bookId}" />
              <button type="submit" class="btn-cart" th:if="${book.status==true and book.stock>0}">장바구니</button>
            </form>

            <form th:action="@{/user/main-order}" method="post">
              <input type="hidden" name="orderItems[0].bookId" th:value="${book.bookId}" />
              <input type="hidden" name="orderItems[0].quantity" value="1" />
              <button type="submit" class="btn-buy" th:if="${book.status==true and book.stock> 0}">바로 구매</button>
              <div class="btn-not-buy" th:if="${book.status == false or book.stock == 0}">구매 불가</div>
            </form>
          </div>

          <div class="book-desc">
            <h3>책소개</h3>
            <hr />
            <p th:text="${book.description}"></p>
          </div>
        </div>
      </div>
    </section>

    <!-- 도서 리뷰 -->
    <section class="book-review">
      도서 리뷰 <span th:text="'(' + ${#lists.size(bookReviews)} + ')'">(0)</span>
      <div class="review-box" th:each="bookReview:${bookReviews}">
        <img th:src="${#lists.isEmpty(bookReview.reviewImages) ? '/static_images/testbook.png' : bookReview.reviewImages[0]}" alt="book" />
        <div class="review-content">
          <div class="review-meta">
            <span class="review-writer" th:text="${bookReview.username}"></span>
            <span class="review-date"
                  th:text="${#temporals.format(bookReview.reviewCreatedAt, 'yyyy년 MM월 dd일 HH시 mm분')}">
            </span>
            <span class="review-rating" th:text="'⭐ ' + ${bookReview.reviewScore}"></span>
          </div>
          <p class="review-text" th:text="${bookReview.reviewContent}"></p>
        </div>
      </div>
    </section>
  </div>

</body>

</html>


