<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout/main-layout :: layout (
      '마이 페이지',
      ~{::body},
      ~{::head},
      false
    )}">

<head>
  <title>마이 페이지</title>
  <link rel="stylesheet" th:href="@{/css/user/mypage-liked.css}" />
  <script th:src="@{/js/mypage.js}"></script>
</head>

<body>
  <div class="mypage-wrapper">
    <!-- 사이드바 -->
    <div th:replace="~{components/mypage-sidebar :: mypageSidebar}"></div>

    <!-- 본문 -->
    <section class="mypage-content">
      <h3>좋아요한 상품</h3>
      <div class="liked-grid">
        <div class="liked-item" th:each="book : ${likedBooks}"
             th:onclick="|window.location.href='@{/main-book-detail/{bookId}(bookId=${book.bookId})}'|">
          <div class="liked-img-wrapper">
            <img th:src="${#lists.isEmpty(book.imageUrl()) ? '/static_images/testbook.png' : book.imageUrl[0]}" alt="book" />
            <div th:if="${book.liked() != null}">

              <form th:action="@{/user/mypage-liked/{bookId}/unlike(bookId=${book.bookId})}" method="post" th:if="${book.liked}">
                <input type="hidden" name="_method" value="delete"/>
                <button class="book-like-wrapper" >
                  <span class="book-like-button">❤</span>
                </button>
              </form>
            </div>
          </div>
          <div class="liked-info">
            <strong th:text="${book.title()}"></strong>
            <span th:text="${book.joinAuthors()}"></span>
          </div>
        </div>
      </div>
    </section>
  </div>

</body>

</html>
