<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout/user-layout :: layout (
        '메인 페이지',
        ~{this :: content},
        ~{this :: head},
        true
      )}">

<head>
  <title>도서 통합 검색</title>
  <link rel="stylesheet" th:href="@{/css/user/book-search-total.css}">
</head>

<th:block th:fragment="content">
<div th:replace="~{components/search :: searchBox}"></div>
<div class="featured-background"></div>
<div class="wall">
  <div class="search-title-wrapper">
    <h1 class="search-title em-title" th:text="${keyword}"></h1>
    <h1 class="search-title">에 대한 검색 결과</h1>
  </div>
  <div th:each="section : ${results}" class="section">
    <div class="section-header">
      <h2  th:text="${section.label} + ' (' + ${section.total} + ')'"></h2>
      <a th:href="@{/books/search(keyword=${keyword}, field=${section.field})}" class="more-link">더보기</a>
    </div>

    <div th:each="result : ${section.results}" class="book-card">
      <a th:href="@{/main-book-detail/{bookId}(bookId=${result.source.bookId})}"
         class="book-card link-reset">
        <img th:src="${result.source.thumbnailUrl}" alt="thumbnail" class="book-thumbnail"/>
        <div class="book-info">
          <div class="book-title" th:utext="${#lists.isEmpty(result.highlight['title']) ? result.source.title : result.highlight['title'][0]}"></div>

          <div class="book-description"
               th:utext="${#lists.isEmpty(result.highlight['description']) ? result.source.description : result.highlight['description'][0]}">
          </div>

          <div>
            <span th:utext="${#lists.isEmpty(result.highlight['authors']) ? #strings.listJoin(result.source.authors, ', ') : result.highlight['authors'][0]}">저자</span> /
            <span th:utext="${#lists.isEmpty(result.highlight['publishers']) ? #strings.listJoin(result.source.publishers, ', ') : result.highlight['publishers'][0]}">출판사</span> /
            <span th:text="${result.source.publicationDate}">출판일</span>
          </div>

          <div class="book-tags"
               th:utext="${#lists.isEmpty(result.highlight['tags']) ? #strings.listJoin(result.source.tags, ', ') : result.highlight['tags'][0]}">
          </div>

          <div class="book-categories"
               th:utext="${#lists.isEmpty(result.highlight['categories']) ? #strings.listJoin(result.source.categories, ', ') : result.highlight['categories'][0]}">
          </div>

        </div>
      </a>
    </div>
  </div>
</div>
</th:block>
